<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Login</title>
        <!-- Link to your external JS file -->
    </head>
    <body>
        <header>
            <button onclick="window.location.href='/'">Home icon</button>
        </header>
        <main>
            <h1>Admin Login</h1>
            <form id="admin-login-form" action="/admin-login" method="post">
                <input
                    type="password"
                    name="password"
                    placeholder="Enter Admin Password"
                    required
                />
                <button type="submit">Log In</button>
            </form>
            <p>
                Don't have the password?
                <a href="/admin-login/email-pswd">Click here</a>
            </p>
        </main>
    </body>
</html>
