<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Main Page</title>
    </head>
    <body>
        <!-- header -->
        <header>
            <!-- make this a navbar -->
            <button onclick="window.location.href='/'">Home icon</button>
            <button onclick="window.location.href='/admin-login'">
                Logout
            </button>
        </header>

        <main>
            <!-- navbar -->
            <nav>
                <ul>
                    <li><a href="#">Manage Requests</a></li>
                    <li><a href="/admin/manage-staff">Manage Staff</a></li>
                </ul>
            </nav>

            <!-- requests section -->
            <article>
                <!-- picture here -->
                <h1>Recent Requests</h1>
                <p>No requests yet</p>
            </article>
        </main>
    </body>
</html>
