<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Main Page</title>
    </head>
    <body>
        <header>
            <button onclick="window.location.href='/'">Home icon</button>
            <button onclick="window.location.href='/admin/login'">
                Logout
            </button>
        </header>
        Admin Main Page
    </body>
</html>
